//.sidebar__right {
//    margin-bottom: 1em;
//
//    @include breakpoint($large) {
//        position: sticky !important; /* added to make toc scroll with page */
//        float: right !important; /* added to make toc scroll with page */
//        top: 0;
//        right: 0;
//        width: $right-sidebar-width-narrow;
//        margin-right: -1 * $right-sidebar-width-narrow;
//        padding-left: 1em;
//        padding-top: 1em !important; /* added to make toc scroll with page */
//        z-index: 10;
//    }
//}


.sidebar__right {
    margin-bottom: 1em;
    position: sticky !important; /* added to make toc scroll with page */
    float: right !important; /* added to make toc scroll with page */
    top: 0;
    right: 0;
    width: 300px;
    margin-right: -1 * 100;
    padding-left: 1em;
    padding-top: 6em !important; /* added to make toc scroll with page */
    z-index: 10;

}
